/* *
{
    font-size: 12px;
} */
table
{
    text-align: center;
    border: 1px solid black;
    margin-top: 10px;
    height: 200px;
}

thead
{
    background-color: lavender;
    
}

th
{
    height: 50px;
    padding: 10px;
    color: black;
}

/* .btn-danger
{
    margin: 5px;
    height: 50px;
    width: 80px;
    font-size:20px;
} */

td{
    word-wrap: break-word;
    padding: 5px;
    color: black;
}

/* button
{
    margin: 5px;
    height: 50px;
    width: 50px;
    font-size:10px;
} */

