table
{
    align-items: center;
    text-align: center;
    border: 1px solid black;
    margin-top: 10px;
    height: 100px;
}

thead
{
    background-color: lavender;
    color:black;
    
}

th
{
    height: 50px;
    padding: 10px;
    color:black;
}

.btn,.btn-info,.btn-danger
{
    margin: 5px;
    height: 50px;
    width: 100px;
    font-size: 20px;
}

.container
{
    /* border: 1px solid black; */
    border-radius: 8px;
    background-color: lightgray;
    height: 385px;
    width: 550px;
}
.container-view
{
    border-radius: 10px;
    background-color: lightgray;
    height: 250px;
    width: 400px;
}
.search-box
{
    padding: 20px;
    align-items: center;
    /* margin-top: 10px; */
}
.custom-valid {
    border-color: green;
    display: block;
}

.custom-invalid {
    width: 100%;
    border-color: #dc3545;
}

.custom-invalid~.invalid-feedback {
    display: block;
}

p{
    color: black;
    padding: 10px;
}

tbody{
    padding: 10px;
}

tr:hover
{
    background-color: lightgray;
}